* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #ffffff;
    color: #555555;
    font-family: "Avenir Next", "Lantingher SC";
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
}

.warp {
    width: 100%;
    height: 600px;
    position: absolute;
    top: 50%;
    margin-top: -300px;
    background-color: #333;
    overflow: hidden;
}
/* 负责平移和旋转 */
.photo {
    width: 260px;
    height: 320px;
    position: absolute;
    z-index: 1;
    box-shadow: 0 0 1px rgba(0, 0, 0, .01);
    transition: all 0.5s;
}
/* 负责3D旋转 */
.photo-warp {
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.photo {  /* 为了解决div去掉photo-center后瞬间没有left,top等值而闪动现象 */
          /* 同时实现一开始全部中间，然后在两边分布的动画效果 */
    left: 50%;
    top: 50%;
    margin-top: -160px;
    margin-left: -130px;
}
.photo-center {
    left: 50%;
    top: 50%;
    margin-top: -160px;
    margin-left: -130px;
    z-index: 999;
}
.photo .sider {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    padding: 20px;
    box-sizing: border-box;
    background-color: #eee;
}

.photo .sider-front {
}
    .sider-front .image {
        width: 100%;
        height: 250px;
        line-height: 250px;
        overflow: hidden;
    }
    .sider-front .image img {
        width: 100%;
    }
    .sider-front .caption {
        text-align: center;
        font-size: 16px;
        line-height: 50px;
    }

.photo .sider-back {
}
    .sider-back .desc {
        color: #666;
        font-size: 14px;
        line-height: 1.5em;
    }

/* 处理3D旋转效果 */
.warp {
    -webkit-perspective: 800px;
            perspective: 800px;
}

    .photo-warp {
        transform-style: preserve-3d;
        transition: all .6s;
        transform-origin: 0% 50%;
    }

    .photo-front .photo-warp {
        transform: translate(0px, 0px) rotateY(0deg);
    }
    .photo-back .photo-warp {
        /*transform: rotateY(180deg);*/
        transform: translate(260px, 0px) rotateY(180deg);
    }
    .photo-warp .sider {
        -webkit-backface-visibility: hidden;
                backface-visibility: hidden;
    }
    .photo-warp .sider-front {
        -webkit-transform: rotateY(0deg);
                transform: rotateY(0deg);
    }
    .photo-warp .sider-back {
        -webkit-transform: rotateY(180deg);
                transform: rotateY(180deg);
    }
    
/* 导航栏 */
@font-face {
    font-family: 'icons';
    src: url('./iconfont.woff') format('woff');
    font-weight: normal;
}
.nav {
    width: 80%;
    height: 30px;
    position: absolute;
    left: 10%;
    bottom: 2%;
    z-index: 999;
    line-height: 30px;
    text-align: center;  /* 使里面的居中 */
}
.nav .i {
    display: inline-block;
    width: 30px;
    height: 30px;
    background-color: #aaa;
    border-radius: 50%;
    cursor: pointer;
    transform: scale(.48);
    transition: all 0.6s;
}
.nav .i:after {
    content: '\e6ea';
    font-family: 'icons';
    opacity: 0;
}
.nav .i_current {
    transform: scale(1);
}
.nav .i_current:after {
    opacity: 1;
}
.nav .i_back {
    transform: rotateY(180deg);
}